FureyLib/Misc or Not Mine/C++/Not Mine/Boost 1.85.0.zip
FureyLib/Misc or Not Mine/SDL/Not Mine/SDL2 2.30.2.zip
FureyLib/Misc or Not Mine/SDL/Not Mine/SDL2 Mixer 2.8.0.zip
FureyLib/Misc or Not Mine/SDL/Not Mine/SDL2 TTF 2.22.0.zip
